<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.app.tcare_serial"
    android:versionCode="1040"
    android:versionName="1.04.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:manageSpaceActivity="it.app.tcare_serial.Main_Activity"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <receiver android:name=".autostart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Test1Service"
            android:enabled="true" />

        <activity
            android:name="it.app.tcare_serial.Main_Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.app.tcare_serial.Menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="it.app.tcare_serial.Service_app"
            android:label="@string/title_activity_service"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>